# Data Science Tools and Ecosystem

In this notbook, Data Science Tools and Ecosystems are summerized.

### Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Java
5. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. MatPlotLib
5. Plotly

### Single column table of open source IDEs

| Data Science Tools |
|--------------------|
| Apache Spark |
| Jupyter |
| Apache Zeppelin |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply (exercise instructions say "mutiply") then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing (exercise instructions say "diving") by 60 

200/60

3.3333333333333335

### Key objectives from this assignment

**Objectives:**
* List popular languages for Data Science
* List popular libraries used for Data Science
* Create a column listing open source Integrated Development Environments 
* Display basic arithmetic using code cells

## Author 

Jonathan Henningson